* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  position: relative;
}

li, span, i, h4, h5, h3, h2, h1, h6, p, a {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style: none;
}

/* nav */
nav {
  background-color: #FFC672;
  padding: 20px 0px;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  width: 100%;
}

nav .nav-middle-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-middle-links a {
  padding: 0px 29px;
  color: #333333;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

nav .nav-right-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right-links a {
  padding: 0px 20px;
  color: #FFFFFF;
  cursor: pointer;
}

nav .nav-right-links .cart {
  position: relative;
}

nav .nav-right-links .cart pre {
  position: absolute;
  background-color: #673091;
  padding: 3px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: lighter;
  top: -9px;
  left: 31px;
}

/* nav./ */
/* header */
header {
  background-color: #FFC672;
  padding: 20px 0px;
  position: relative;
}

header::after {
  content: "";
  /* height: 100%;
        width: 0; */
  position: absolute;
  left: 912px;
  bottom: 0;
  border-bottom: 1117px solid #fff;
  border-left: 1007px solid transparent;
  overflow-x: hidden;
  /* z-index: 2; */
}

header .hero-text {
  height: 100%;
  width: 100%;
  padding-top: 169px;
  padding-bottom: 124px;
}

header .hero-text h5 {
  color: #CC1716;
  font-family: "Fira Sans",sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}

header .hero-text h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0px;
  color: #333333;
}

header .hero-text p {
  font-family: 'Fira Sans',sans-serif;
  font-size: 14px;
  color: #333333;
  width: 424px;
}

header .hero-text a {
  text-decoration: none;
  padding: 10px 25px;
  background: #CA1413;
  border-radius: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 41px;
  display: inline-block;
  font-family: 'Fira Sans',sans-serif;
}

header .hero-img {
  display: block;
  z-index: 1;
  position: relative;
}

header .hero-img img {
  position: absolute;
  top: -133px;
  left: -236px;
  z-index: -1;
}

/* header./ */
/* testimonial */
.testimonial.homepage-testimonial {
  padding: 20px 0px;
  padding-top: 113px;
}

.testimonial.homepage-testimonial .testimonial__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial.homepage-testimonial .testimonial__card .card__img {
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  height: 85px;
  width: 181px;
}

.testimonial.homepage-testimonial .testimonial__card .card__img i {
  font-size: 30px;
  color: #CCCCCC;
}

.testimonial.homepage-testimonial .testimonial__card .card__text h4 {
  color: #333333;
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
}

.testimonial.homepage-testimonial .testimonial__card .card__text p {
  color: #787878;
  font-family: 'Fira Sans',sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px;
}

/* testimonial./ */
/* homepage__catering__goods */
.homepage__catering__goods {
  padding: 30px 0px;
  margin-top: 75px;
}

.homepage__catering__goods .catering__goods__title h3 {
  color: #CA1515;
  font-family: 'Fira Sans',sans-serif;
  font-size: 20px;
}

.homepage__catering__goods .catering__goods__title h2 {
  color: #000000;
  font-family: 'Fira Sans',sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

.homepage__catering__goods .catering__goods__title .header__tabs ul li {
  margin: 20px 30px;
}

.homepage__catering__goods .catering__goods__title .header__tabs ul li a {
  font-family: "Fira Sans",sans-serif;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}

.homepage__catering__goods .catering__goods__title .header__tabs ul li .active {
  color: #CA1515;
}

.homepage__catering__goods .catering__goods__card {
  text-align: center;
}

.homepage__catering__goods .catering__goods__card img {
  width: 100%;
}

.homepage__catering__goods .catering__goods__card .card__text h4 {
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}

.homepage__catering__goods .catering__goods__card .card__text p {
  font-family: "Fira Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin: 10px 0px;
}

.homepage__catering__goods .catering__goods__card .card__text span {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #CB2321;
}

.homepage__catering__goods .catering__goods__card .card__text a {
  padding: 7px 15px;
  background: transparent;
  border: 1px solid #CB2321;
  text-decoration: none;
  font-family: "Fira Sans",sans-serif;
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
  display: block;
}

/* homepage__catering__goods./ */
/* discount */
.discount {
  margin-top: 50px;
  background: url(../img/discount-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.discount .discount__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 0px;
  text-align: center;
  color: #FFFFFF;
}

.discount .discount__overlay .discount__main {
  padding: 30px 0px;
}

.discount .discount__overlay .discount__main h5 {
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
  color: #FFC672;
  margin: 10px 0px;
}

.discount .discount__overlay .discount__main span {
  font-family: "Fira Sans",sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.discount .discount__overlay .discount__main h3 {
  font-family: "Fira Sans",sans-serif;
  margin: 10px 0px;
  font-size: 40px;
  font-weight: 500;
}

.discount .discount__overlay .discount__main a {
  padding: 11px 25px;
  text-decoration: none;
  color: inherit;
  background: #CA1515;
  font-family: "Fira Sans",sans-serif;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}

/* discount./ */
/* mobile-menu-home */
.mobile-menu-home {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  background: rgba(202, 20, 19, 0.8);
  padding: 30px;
  color: #FFFFFF;
  z-index: 3;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.mobile-menu-home .close-icon {
  font-size: 30px;
  color: #FFFFFF;
  text-align: right;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: 200;
}

.mobile-menu-home .close-icon i:hover {
  cursor: pointer;
}

.mobile-menu-home .mobile__menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.mobile-menu-home .mobile__menu__icons a {
  color: inherit;
  cursor: pointer;
  position: relative;
}

.mobile-menu-home .mobile__menu__icons a pre {
  height: 20px;
  width: 20px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  padding: 2px;
  position: absolute;
  top: -36%;
  right: -92%;
}

.mobile-menu-home .mobilemenus__links {
  padding-left: 20px;
  margin-top: 50px;
  text-align: center;
}

.mobile-menu-home .mobilemenus__links a {
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.mobile-menu-home .mobilemenus__links a:hover {
  font-weight: bold;
}

.show {
  left: 0%;
  opacity: 1;
  /* display: flex; */
}

.hide {
  opacity: 0;
  left: 100%;
}

/* mobile-menu-home./ */
/*# sourceMappingURL=style.css.map */