* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  background-color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  overflow-x: hidden;
  position: relative;
}

li, span, i, h4, h5, h3, h2, h1, h6, p, a {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style: none;
}

/* nav */
nav {
  background-color: #FFC672;
  padding: 20px 0px;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  width: 100%;
}

nav .nav-middle-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-middle-links a {
  padding: 0px 29px;
  color: #333333;
  font-family: "Poppins",sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

nav .nav-right-links {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right-links a {
  padding: 0px 20px;
  color: #FFFFFF;
  cursor: pointer;
}

nav .nav-right-links .cart {
  position: relative;
}

nav .nav-right-links .cart pre {
  position: absolute;
  background-color: #673091;
  padding: 3px;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: lighter;
  top: -9px;
  left: 31px;
}

nav .bars {
  height: 25px;
  width: 31px;
  border: 1px solid #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

nav .bars span {
  height: 2px;
  width: 19px;
  background: #000;
  margin: 2px 0px;
}

/* nav./ */
/* header */
header {
  background-color: #FFC672;
  padding: 20px 0px;
  position: relative;
}

header::after {
  content: "";
  /* height: 100%;
        width: 0; */
  position: absolute;
  left: 912px;
  bottom: 0;
  border-bottom: 1117px solid #fff;
  border-left: 1007px solid transparent;
  overflow-x: hidden;
  /* z-index: 2; */
}

header .hero-text {
  height: 100%;
  width: 100%;
  padding-top: 169px;
  padding-bottom: 124px;
}

header .hero-text h5 {
  color: #CC1716;
  font-family: "Fira Sans",sans-serif;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
}

header .hero-text h2 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0px;
  color: #333333;
}

header .hero-text p {
  font-family: 'Fira Sans',sans-serif;
  font-size: 14px;
  color: #333333;
  width: 424px;
}

header .hero-text a {
  text-decoration: none;
  padding: 10px 25px;
  background: #CA1413;
  border-radius: 50px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 41px;
  display: inline-block;
  font-family: 'Fira Sans',sans-serif;
}

header .hero-img {
  display: block;
  z-index: 1;
  position: relative;
}

header .hero-img img {
  position: absolute;
  top: -133px;
  left: -236px;
  z-index: -1;
}

/* header./ */
/* testimonial */
.testimonial.homepage-testimonial {
  padding: 20px 0px;
  padding-top: 113px;
}

.testimonial.homepage-testimonial .testimonial__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonial.homepage-testimonial .testimonial__card .card__img {
  border-radius: 50%;
  border: 1px solid #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  height: 85px;
  width: 181px;
}

.testimonial.homepage-testimonial .testimonial__card .card__img i {
  font-size: 30px;
  color: #CCCCCC;
}

.testimonial.homepage-testimonial .testimonial__card .card__text h4 {
  color: #333333;
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
}

.testimonial.homepage-testimonial .testimonial__card .card__text p {
  color: #787878;
  font-family: 'Fira Sans',sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0px;
}

/* testimonial./ */
/* homepage__catering__goods */
.homepage__catering__goods {
  padding: 30px 0px;
  margin-top: 75px;
}

.homepage__catering__goods .catering__goods__title h3 {
  color: #CA1515;
  font-family: 'Fira Sans',sans-serif;
  font-size: 20px;
}

.homepage__catering__goods .catering__goods__title h2 {
  color: #000000;
  font-family: 'Fira Sans',sans-serif;
  font-size: 30px;
  margin-top: 10px;
}

.homepage__catering__goods .catering__goods__title .header__tabs ul li {
  margin: 20px 30px;
}

.homepage__catering__goods .catering__goods__title .header__tabs ul li a {
  font-family: "Fira Sans",sans-serif;
  font-size: 14px;
  color: #333333;
  text-decoration: none;
}

.homepage__catering__goods .catering__goods__title .header__tabs ul li .active {
  color: #CA1515;
}

.homepage__catering__goods .catering__goods__card {
  text-align: center;
}

.homepage__catering__goods .catering__goods__card img {
  width: 100%;
}

.homepage__catering__goods .catering__goods__card .card__text h4 {
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}

.homepage__catering__goods .catering__goods__card .card__text p {
  font-family: "Fira Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin: 10px 0px;
}

.homepage__catering__goods .catering__goods__card .card__text span {
  display: block;
  font-family: "Fira Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #CB2321;
}

.homepage__catering__goods .catering__goods__card .card__text a {
  padding: 7px 15px;
  background: transparent;
  border: 1px solid #CB2321;
  text-decoration: none;
  font-family: "Fira Sans",sans-serif;
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
  display: block;
}

/* homepage__catering__goods./ */
/* discount */
.discount {
  margin-top: 50px;
  background: url(../img/discount-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.discount .discount__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 0px;
  text-align: center;
  color: #FFFFFF;
}

.discount .discount__overlay .discount__main {
  padding: 30px 0px;
}

.discount .discount__overlay .discount__main h5 {
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
  color: #FFC672;
  margin: 10px 0px;
}

.discount .discount__overlay .discount__main span {
  font-family: "Fira Sans",sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.discount .discount__overlay .discount__main h3 {
  font-family: "Fira Sans",sans-serif;
  margin: 10px 0px;
  font-size: 40px;
  font-weight: 500;
}

.discount .discount__overlay .discount__main a {
  padding: 11px 25px;
  text-decoration: none;
  color: inherit;
  background: #CA1515;
  font-family: "Fira Sans",sans-serif;
  font-size: 16px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}

/* discount./ */
/*price__plan*/
.price__plan {
  padding: 30px 0px;
  margin-top: 80px;
}

.price__plan .price__plan__title {
  text-align: center;
}

.price__plan .price__plan__title h5 {
  color: #CA1515;
  font-family: "Fira Sans",sans-serif;
  font-size: 20px;
}

.price__plan .price__plan__title h3 {
  color: #333333;
  font-family: "Fira Sans",sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-top: 10px;
  text-transform: uppercase;
}

.price__plan .price__plan__title .line__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.price__plan .price__plan__title .line__div .first {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.price__plan .price__plan__title .line__div .third {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.price__plan .price__plan__title .line__div .second {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #CB2321;
  margin: 0px 8px;
}

.price__plan .card .card__img {
  background: url(../img/package-01.png);
  width: 100%;
}

.price__plan .card .card__img .img__overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px 0px;
  text-align: center;
  font-family: "Fira Sans",snas-serif;
  color: #FFFFFF;
}

.price__plan .card .card__img .img__overlay h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.price__plan .card .card__img .img__overlay h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.price__plan .card .card__img .img__overlay .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__plan .card .card__body {
  background: #EEFEFF;
  padding: 20px 0px;
}

.price__plan .card .card__body span {
  display: block;
  text-align: center;
  font-family: "Fira Sans",snas-serif;
  margin: 10px 0px;
  color: #333333;
  font-weight: 400;
}

.price__plan .card .card__footer {
  width: 100%;
}

.price__plan .card .card__footer a {
  background: #CB2321;
  display: block;
  padding: 10px 0px;
  text-align: center;
  color: #FFFFFF;
  font-family: "Fira Sans",snas-serif;
  text-decoration: none;
}

/*price__plan./*/
/*planing & event*/
.planning__event {
  margin-top: 50px;
  padding: 30px 0px;
  font-family: "Fira Sans",sans-serif;
}

.planning__event .planning__event__header {
  text-align: center;
}

.planning__event .planning__event__header h5 {
  font-family: inherit;
  color: #CA1515;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.planning__event .planning__event__header h3 {
  font-family: inherit;
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.planning__event .planning__event__header .line__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.planning__event .planning__event__header .line__div .first {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.planning__event .planning__event__header .line__div .third {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.planning__event .planning__event__header .line__div .second {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #CB2321;
  margin: 0px 8px;
}

.planning__event .planning__event__img img {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.planning__event .event {
  font-family: "Fira Sans",sans-serif;
}

.planning__event .event .event__no {
  margin-right: 20px;
}

.planning__event .event .event__no span {
  font-family: inherit;
  color: #E7E7E7;
  font-size: 50px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.planning__event .event .event__details h5 {
  color: #555555;
  padding-bottom: 5px;
  border-bottom: 1px solid #555555;
  margin-bottom: 10px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.planning__event .event .event__details p {
  color: #787878;
  font-size: 15px;
  font-weight: 400;
  max-width: 228px;
}

.planning__event .event:hover {
  cursor: pointer;
}

.planning__event .event:hover .event__no span {
  color: #CA1515;
}

.planning__event .event:hover .event__details h5 {
  color: #CA1515;
}

.planning__event .active .event__no span {
  color: #CA1515;
}

.planning__event .active .event__details h5 {
  color: #CA1515;
}

/*planing & event./*/
/*about us*/
.about__us {
  margin-top: 50px;
  padding: 30px 0px;
}

.about__us .row:nth-child(2) {
  margin-top: 95px;
}

.about__us .about__header {
  text-align: center;
  font-family: "Fira Sans",sans-serif;
}

.about__us .about__header h5 {
  font-family: inherit;
  color: #CA1515;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about__us .about__header h3 {
  font-family: inherit;
  color: #333333;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about__us .about__header .line__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.about__us .about__header .line__div .first {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.about__us .about__header .line__div .third {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.about__us .about__header .line__div .second {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #CB2321;
  margin: 0px 8px;
}

.about__us .about__main__text {
  font-family: "Fira Sans",sans-serif;
  padding: 10px;
  margin-top: 10px;
  position: relative;
}

.about__us .about__main__text svg {
  position: absolute;
  top: -13%;
  left: -19%;
  opacity: 0.2;
  z-index: -1;
}

.about__us .about__main__text h5 {
  color: #CA1515;
  font-size: 20px;
  font-weight: 400;
  z-index: 9;
}

.about__us .about__main__text h3 {
  color: #333333;
  font-size: 25px;
  width: 232px;
  margin: 5px 0px;
  font-weight: bold;
  margin: 10px 0px;
}

.about__us .about__main__text p {
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  width: 423px;
  margin-bottom: 10px;
}

.about__us .about__main__text a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: inherit;
  padding: 10px 30px;
  background: #CB2321;
  display: inline-block;
  margin-top: 15px;
}

.about__us .about__main__img img {
  border-radius: 5px;
}

/*about us./*/
/*news letter*/
.news__letter {
  margin-top: 50px;
  background: #FFC672;
  padding: 30px 0px;
  font-family: "Fira Sans",sans-serif;
  color: #333333;
}

.news__letter .news__letter__info {
  padding: 30px;
  font-family: inherit;
  text-align: left;
  border-right: 1px solid #FFD391;
}

.news__letter .news__letter__info h4 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 5px;
}

.news__letter .news__letter__info p {
  font-size: 30px;
  font-weight: 400;
}

.news__letter .news__letter__info h5 {
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
}

.news__letter .news__letter__form {
  padding: 30px;
}

.news__letter .news__letter__form h4 {
  font-family: inherit;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: inherit;
}

.news__letter .news__letter__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
}

.news__letter .news__letter__form form input {
  width: 100%;
  padding: 8px 10px;
  border: none;
  outline: none;
}

.news__letter .news__letter__form form button {
  background: #CB2321;
  padding: 5px 15px;
  outline: none;
  border: none;
  color: #FFFFFF;
}

/*news letter./*/
/*testimonial*/
.testimonial {
  padding: 30px 0px;
  margin-top: 80px;
  font-family: "Firas Sans",sans-serif;
}

.testimonial .testimonial__header {
  text-align: center;
}

.testimonial .testimonial__header h5 {
  color: #CA1413;
  font-size: 20px;
}

.testimonial .testimonial__header h3 {
  color: #333333;
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}

.testimonial .testimonial__header .line__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.testimonial .testimonial__header .line__div .first {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.testimonial .testimonial__header .line__div .third {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.testimonial .testimonial__header .line__div .second {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #CB2321;
  margin: 0px 8px;
}

.testimonial .slider__item i {
  font-size: 70px;
  color: #E7E7E7;
}

.testimonial .slider__item p {
  font-family: "Fira Sans",sans-serif;
  color: #555555;
  font-size: 20px;
  font-weight: 400;
  margin: 20px auto;
  width: 785px;
}

.testimonial .slider__item img {
  border-radius: 50%;
  margin: 10px auto;
  margin-bottom: 20px;
}

.testimonial .slider__item h4 {
  font-family: "Fira Sans",sans-serif;
  color: #555555;
  font-size: 20px;
  font-weight: bold;
}

.testimonial .slider__item span {
  font-family: "Fira Sans",sans-serif;
  color: #555555;
  font-size: 18px;
  margin-top: 10px;
  display: block;
}

/*news letter./*/
/*latest__blog*/
.latest__blog {
  margin-top: 80px;
  padding: 30px 0px;
  font-family: "Fira Sans",sans-serif;
}

.latest__blog .latest__blog__header {
  text-align: center;
}

.latest__blog .latest__blog__header h3 {
  color: #333333;
  font-size: 30px;
  margin-top: 10px;
  font-weight: bold;
}

.latest__blog .latest__blog__header .line__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.latest__blog .latest__blog__header .line__div .first {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.latest__blog .latest__blog__header .line__div .third {
  height: 1px;
  width: 120px;
  background: #CCCCCC;
}

.latest__blog .latest__blog__header .line__div .second {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #CB2321;
  margin: 0px 8px;
}

.latest__blog .left__side {
  padding: 0px 20px;
}

.latest__blog .left__side .left__img {
  margin-bottom: 20px;
}

.latest__blog .left__side .left__img img {
  width: 100%;
  border-radius: 10px;
}

.latest__blog .left__side .left__text {
  margin: 30px 0px;
  margin-bottom: 60px;
}

.latest__blog .left__side .left__text h3 {
  color: #333333;
  color: inherit;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.latest__blog .left__side .left__text p {
  margin: 20px 0px;
}

.latest__blog .left__side .left__footer {
  margin-top: 30px;
}

.latest__blog .left__side .left__footer p {
  color: #555555;
  font-size: 14px;
  font-weight: 400;
}

.latest__blog .left__side .left__footer .icon {
  color: #555555;
  color: #555555;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.latest__blog .left__side .left__footer .icon i {
  margin-right: 5px;
  color: #FFC672;
}

.latest__blog .right__side .right__side__card {
  background: #F6F6F6;
  border-radius: 10px;
}

.latest__blog .right__side .right__side__card .card__text {
  margin-left: 20px;
}

.latest__blog .right__side .right__side__card .card__text .top__btns a {
  padding: 7px 40px;
  background: #FFC672;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border-radius: 20px;
}

.latest__blog .right__side .right__side__card .card__text p {
  font-size: 18px;
  font-weight: 500;
}

.latest__blog .right__side .right__side__card .card__text .card__footer {
  margin-top: 10px;
}

.latest__blog .right__side .right__side__card .card__text .card__footer p {
  color: #787878;
  font-size: 14px;
  font-weight: 400;
}

.latest__blog .right__side .right__side__card .card__text .card__footer .icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest__blog .right__side .right__side__card .card__text .card__footer .icons .icon {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest__blog .right__side .right__side__card .card__text .card__footer .icons .icon i {
  color: #FFC672;
  font-size: 13px;
  margin-right: 5px;
}

.latest__blog .right__side .right__side__card .card__text .card__footer .icons .icon span {
  font-size: 13px;
  color: #787878;
}

/*latest__blog./*/
.search__hearo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/search-banner.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/search-banner.png") no-repeat center;
  background-size: cover;
}

.search__hearo .search__container {
  padding: 130px 0px;
}

.search__hearo .search__container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #FFC672;
  border-radius: 10px;
  overflow: hidden;
}

.search__hearo .search__container form input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
  color: #FFFFFF;
}

.search__hearo .search__container form button {
  padding: 0px 10px;
  outline: none;
  border: none;
  background: #FFC672;
  color: #333333;
}

.search__map .map {
  background: url("../img/map.png") center no-repeat;
  background-size: cover;
  height: 30vh;
}

.search__cards {
  margin-top: 50px;
}

.search__cards .search__card {
  position: relative;
}

.search__cards .search__card .search__card__of {
  position: absolute;
  top: 0%;
  left: 0%;
  background: #CB2321;
  color: #FFFFFF;
  padding: 5px;
}

.search__cards .search__card .search__card__text {
  margin-top: 20px;
  color: #333333;
}

.search__cards .search__card .search__card__text .title__rating {
  font-size: 16px;
}

.search__cards .search__card .search__card__text .title__rating h5 {
  color: #CA1515;
  font-family: "Fira Sans",sans-serif;
  font-size: inherit;
}

.search__cards .search__card .search__card__text .title__rating .ratings i {
  color: #FFC672;
  font-size: inherit;
}

.search__cards .search__card .search__card__text .title__rating .ratings span {
  color: inherit;
  color: #673091;
}

.search__cards .search__card .search__card__text .location i {
  color: #787878;
  font-size: 13px;
  margin-right: 5px;
}

.search__cards .search__card .search__card__text .location span {
  font-size: 13px;
  color: #787878;
}

.our__best__items {
  font-family: "Fira Sans",sans-serif;
}

.our__best__items .this__title__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our__best__items .this__title__header h5 {
  width: 155px;
  margin-right: 10px;
  font-family: inherit;
}

.our__best__items .this__title__header .line__me {
  height: 1px;
  width: 100%;
  background: #CCCCCC;
}

.our__best__items .best__items__card {
  font-family: inherit;
  position: relative;
}

.our__best__items .best__items__card .card__offer {
  height: 65px;
  width: 65px;
  position: absolute;
  top: 0%;
  right: 7%;
}

.our__best__items .best__items__card .card__offer span {
  display: block;
  height: 100%;
  width: 100%;
  background: #FFC672;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  font-family: "Fira Sans",sans-serif;
  font-size: 15px;
  border: 1px solid #FFFFFF;
  color: #333333;
}

.our__best__items .best__items__card .card__text h4 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
}

.our__best__items .best__items__card .card__text p {
  font-size: 14px;
  font-weight: 400;
  color: #787878;
  margin: 10px 0px;
}

.our__best__items .best__items__card .card__text span {
  display: block;
  margin: 10px;
  color: #CA1413;
}

.our__best__items .best__items__card .card__text a {
  padding: 7px 15px;
  background: transparent;
  border: 1px solid #CB2321;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
  display: block;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.our__best__items .best__items__card .card__text a:hover {
  background: #CB2321;
  color: #FFFFFF;
}

.price__plan__banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/priceplan-banner.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/priceplan-banner.png") no-repeat center;
  background-size: cover;
  font-family: "Fira Sans",sans-serif;
}

.price__plan__banner .banner__info {
  padding: 150px 0px;
  color: #FFFFFF;
}

.price__plan__banner .banner__info h5 {
  font-family: inherit;
  font-size: 20px;
  color: #FFC672;
}

.price__plan__banner .banner__info h2 {
  font-family: inherit;
  font-size: 40px;
  margin: 10px 0px;
}

.price__plan__banner .banner__info .line__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__plan__banner .banner__info .line__circle .line__1, .price__plan__banner .banner__info .line__circle .line__2 {
  height: 1px;
  width: 120px;
  background: #FFC672;
}

.price__plan__banner .banner__info .line__circle .circle {
  height: 20px;
  width: 20px;
  background: #FFC672;
  border-radius: 50%;
  margin: 0px 10px;
}

.planning__event__banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/planning-event-banner.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/planning-event-banner.png") no-repeat center;
  background-size: cover;
  font-family: "Fira Sans",sans-serif;
}

.planning__event__banner .banner__info {
  padding: 150px 0px;
  color: #FFFFFF;
}

.planning__event__banner .banner__info h5 {
  font-family: inherit;
  font-size: 20px;
  color: #FFC672;
  text-transform: uppercase;
}

.planning__event__banner .banner__info h2 {
  font-family: inherit;
  font-size: 40px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.planning__event__banner .banner__info span {
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
}

.planning__event__banner .banner__info .line__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.planning__event__banner .banner__info .line__circle .line__1, .planning__event__banner .banner__info .line__circle .line__2 {
  height: 1px;
  width: 120px;
  background: #FFC672;
}

.planning__event__banner .banner__info .line__circle .circle {
  height: 20px;
  width: 20px;
  background: #FFC672;
  border-radius: 50%;
  margin: 0px 10px;
}

.planning__event__cards {
  margin-top: 50px;
  font-family: "Fira Sans",sans-serif;
}

.planning__event__cards .planning__event__card .card__text h3 {
  font-size: 25px;
  font-family: inherit;
  color: #333333;
}

.planning__event__cards .planning__event__card .card__text p {
  font-size: 16px;
  color: #555555;
  font-family: inherit;
  width: 100%;
  opacity: 0.8;
  margin: 10px 0px;
}

.planning__event__cards .planning__event__card .card__text a {
  padding: 7px 10px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  background: #CB2321;
  margin-top: 10px;
  display: inline-block;
}

/*footer*/
footer {
  background: #260044;
  padding: 30px 0px;
  margin-top: 60px;
  font-family: "Fira Sans",sans-serif;
}

footer .footer__main .footer__logo h1 {
  color: #ffffff;
}

footer .footer__main .footer__logo .logo__links {
  margin-top: 60px;
}

footer .footer__main .footer__logo .logo__links h5 {
  color: #FFFFFF;
  font-size: 15px;
}

footer .footer__main .footer__logo .logo__links ul li {
  list-style: none;
  margin: 5px;
}

footer .footer__main .footer__logo .logo__links ul li a {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

footer .footer__main .footer__logo .logo__links ul li a i {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
  font-size: 13px;
}

footer .footer__main .footer__info {
  padding: 0px 10px;
}

footer .footer__main .footer__info .footer__title {
  margin-bottom: 10px;
}

footer .footer__main .footer__info .footer__title h4 {
  color: #FFFFFF;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
}

footer .footer__main .footer__info ul li {
  list-style: none;
  color: #FFFFFF;
  margin: 10px 0px;
}

footer .footer__main .footer__info ul li a {
  color: inherit;
  font-size: 14px;
  opacity: 0.8;
}

footer .footer__bottom {
  padding: 20px 0px;
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .footer__bottom .footer__bottom__text p {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

/*footer./*/
/* mobile-menu-home */
.mobile-menu-home {
  position: fixed;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  background: rgba(202, 20, 19, 0.8);
  padding: 30px;
  color: #FFFFFF;
  z-index: 3;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.mobile-menu-home .close-icon {
  font-size: 30px;
  color: #FFFFFF;
  text-align: right;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: 200;
}

.mobile-menu-home .close-icon i:hover {
  cursor: pointer;
}

.mobile-menu-home .mobile__menu__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.mobile-menu-home .mobile__menu__icons a {
  color: inherit;
  cursor: pointer;
  position: relative;
}

.mobile-menu-home .mobile__menu__icons a pre {
  height: 20px;
  width: 20px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  padding: 2px;
  position: absolute;
  top: -36%;
  right: -92%;
}

.mobile-menu-home .mobilemenus__links {
  padding-left: 20px;
  margin-top: 50px;
  text-align: center;
}

.mobile-menu-home .mobilemenus__links a {
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.mobile-menu-home .mobilemenus__links a:hover {
  font-weight: bold;
}

.show {
  left: 0%;
  opacity: 1;
  /* display: flex; */
}

.hide {
  opacity: 0;
  left: 100%;
}

/* mobile-menu-home./ */
/*responsive*/
@media (max-width: 320px) {
  nav .logo a img {
    width: 100% !important;
  }
  nav .nav-hide-1, nav .nav-hide-2 {
    display: none  !important;
  }
  nav .tik {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  header .hero-img img {
    width: 100%;
    top: 0;
    left: 0;
  }
  header .hero-text {
    margin-top: 100px;
    text-align: center;
  }
  header .hero-text h2 {
    font-size: 20px;
  }
  header .hero-text p {
    width: 100%;
  }
  .testimonial .testimonial__card {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial.homepage-testimonial {
    padding-top: 0px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__img {
    width: 85px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__text {
    text-align: center;
    margin-top: 20px;
  }
  .homepage__catering__goods .catering__goods__title .header__tabs ul li {
    margin: 20px 7px;
  }
  .testimonial .slider__item p {
    width: 100%;
  }
  .latest__blog .right__side__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest__blog .right__side__card .card__img img {
    width: 100%;
  }
  .latest__blog .right__side .right__side__card .card__text {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 20px !important;
  }
  .latest__blog .right__side .right__side__card .card__text .top__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .latest__blog .right__side .right__side__card .card__text .top__btns a {
    font-size: 13px;
    padding: 7px 10px  !important;
    margin-right: 10px !important;
  }
  .news__letter .news__letter__info {
    padding: 0;
    text-align: center;
  }
  .news__letter .news__letter__info h5 {
    margin-top: 8px !important;
  }
  .news__letter .news__letter__form {
    padding: 0 !important;
    text-align: center;
    margin-top: 10px !important;
  }
  .news__letter .news__letter__form form button {
    padding: 5px 2px;
    font-size: 14px !important;
  }
}

@media (min-width: 321px) and (max-width: 575.98px) {
  nav .logo a img {
    width: 100% !important;
  }
  nav .nav-hide-1, nav .nav-hide-2 {
    display: none  !important;
  }
  nav .tik {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  header .hero-img img {
    width: 100%;
    top: 0;
    left: 0;
  }
  header .hero-text {
    margin-top: 291px;
    text-align: center;
  }
  header .hero-text h2 {
    font-size: 20px;
  }
  header .hero-text p {
    width: 100%;
  }
  .testimonial .testimonial__card {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial.homepage-testimonial {
    padding-top: 0px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__img {
    width: 85px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__text {
    text-align: center;
    margin-top: 20px;
  }
  .homepage__catering__goods .catering__goods__title .header__tabs ul li {
    margin: 20px 7px;
  }
  .testimonial .slider__item p {
    width: 100%;
  }
  .latest__blog .right__side__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest__blog .right__side__card .card__img img {
    width: 100%;
  }
  .latest__blog .right__side .right__side__card .card__text {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 20px !important;
  }
  .latest__blog .right__side .right__side__card .card__text .top__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .latest__blog .right__side .right__side__card .card__text .top__btns a {
    font-size: 13px;
    padding: 7px 10px  !important;
    margin-right: 10px !important;
  }
  .news__letter .news__letter__info {
    padding: 0;
    text-align: center;
  }
  .news__letter .news__letter__info h5 {
    margin-top: 8px !important;
  }
  .news__letter .news__letter__form {
    padding: 0 !important;
    text-align: center;
    margin-top: 10px !important;
  }
  .news__letter .news__letter__form form button {
    padding: 5px 2px;
    font-size: 14px !important;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  nav .logo a img {
    width: 100% !important;
  }
  nav .nav-hide-1, nav .nav-hide-2 {
    display: none  !important;
  }
  nav .tik {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  header .hero-img img {
    width: 100%;
    top: 0;
    left: 0;
  }
  header .hero-text {
    margin-top: 288px;
    text-align: center;
  }
  header .hero-text h2 {
    font-size: 20px;
  }
  header .hero-text p {
    width: 100%;
  }
  .testimonial .testimonial__card {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial.homepage-testimonial {
    padding-top: 0px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__img {
    width: 85px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__text {
    text-align: center;
    margin-top: 20px;
  }
  .homepage__catering__goods .catering__goods__title .header__tabs ul li {
    margin: 20px 7px;
  }
  .testimonial .slider__item p {
    width: 100%;
  }
  .latest__blog .right__side__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .latest__blog .right__side__card .card__img img {
    width: 100%;
  }
  .latest__blog .right__side .right__side__card .card__text {
    padding: 0px !important;
    margin: 0px !important;
    margin-top: 20px !important;
  }
  .latest__blog .right__side .right__side__card .card__text .top__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .latest__blog .right__side .right__side__card .card__text .top__btns a {
    font-size: 13px;
    padding: 7px 10px  !important;
    margin-right: 10px !important;
  }
  .news__letter .news__letter__info {
    padding: 0;
    text-align: center;
  }
  .news__letter .news__letter__info h5 {
    margin-top: 8px !important;
  }
  .news__letter .news__letter__form {
    padding: 0 !important;
    text-align: center;
    margin-top: 10px !important;
  }
  .news__letter .news__letter__form form button {
    padding: 5px 2px;
    font-size: 14px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  nav .logo a img {
    width: 100% !important;
  }
  nav .nav-hide-1, nav .nav-hide-2 {
    display: none  !important;
  }
  nav .tik {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  header .hero-img img {
    width: 100%;
    top: 0;
    left: 0;
  }
  header .hero-text {
    margin-top: 445px;
    text-align: center;
  }
  header .hero-text h2 {
    font-size: 20px;
  }
  header .hero-text p {
    width: 100%;
  }
  .testimonial .testimonial__card {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonial.homepage-testimonial {
    padding-top: 0px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__img {
    width: 85px !important;
  }
  .testimonial.homepage-testimonial .testimonial__card .card__text {
    text-align: center;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  nav .bars {
    display: none  !important;
  }
  .latest__blog .top__btns {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/*responsive./*/
/*# sourceMappingURL=style.css.map */